<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="appSettingsKey" value="whoa!"/>
  </appSettings>
  <connectionStrings>
    <add name="connectionStringsName" connectionString="woohooo!"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>